<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
  </head>
  <body>
    <div class="header">
      <div class="company-name"><h2>Inventory Shop</h2></div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/items">Products</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
